body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.three {
  width: 300px;
}

.task-list {
  list-style: none;
}

.task-list li {
  padding: 2.5px 0 2.5px 0;
  border: 1px lightgray solid;
  margin-left: -40px;
  display: flex;
  position: relative;
}

.crossed {
  text-decoration: line-through;
}

.fas {
  position: absolute;
  right: 10px;
}

.fas:hover {
  cursor: pointer;
}
